.statistics {
  width: 350px;
  align-items: center;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #e9eef3;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 75%);
}
.statList {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  border-top: 1px solid #dddddd;
  background-color: #e9eef3;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;

  border-right: 1px solid #dddddd;
}

.item:last-child {
  border-right: none;
}
.title {
  align-items: center;
  border-right: 1px solid #dddddd;
}
